// form`s elements

//
// wrapper
.f_item { position: relative; }

//
// message (error etc)
.f_msg {
	z-index: 1;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	color: $clr-red;
	font-size: 1.2rem;
	line-height: 1;
	&.is-active { display: block; }
}