/* cols - simple cols system ("grid") */

[class*="col--"] {
	box-sizing: border-box;
	flex: 0 0 auto;
	width: 100%;
}

.cols {
	$gap: $cols-gap;
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gap;
	margin-right: -$gap;

	[class*="col--"] {
		padding-left: $gap;
		padding-right: $gap;
	}
}

.col--1-2 { width: calc(100% / 2); }

.col--1-3 { width: calc(100% / 3); }
.col--2-3 { width: calc(100% * 2 / 3); }

// large
@media only screen and (max-width: $bp-lg){
	.col--lg-1 { width: 100%; }
	.col--lg-1-2 { width: calc(100% / 2); }
}

// medium
@media only screen and (max-width: $bp-md){
	.col--md-1-2 { width: calc(100% / 2); }
}

// small
@media only screen and (max-width: $bp-sm){
	[class*="col--"]{ width: 100%; }
	// .col--sm-1-2    { width: calc(100% / 2); }
}

// x small
// @media only screen and (max-width: $bp-xs){
	// [class*="col--"]{ width: 100%; }
	// .col--xs-1-2    { width: (100% / 2); }
// }


/* / cols */